#  __  __
#  \ \/ /_ __ ___  ___  ___  _   _ _ __ ___ ___  ___
#   \  /| '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|
# _ /  \| | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \
#(_)_/\_\_|  \___||___/\___/ \__,_|_|  \___\___||___/
#######################################################


# Window Manager Settings
Xft.dpi: 196
#exec i3

#Xft.dpi: 165
#exec qtile

#Xft.dpi: 200
#exec qutebrowser


# rofi colors
ROFI Color theme

rofi.color-enabled: true
rofi.color-window: #000000, #000000, #000000
rofi.color-normal: #000000, #F2F3F4, #000000, #F2F3F4, #000000
rofi.color-active: #000000, #F2F3F4, #000000, #F2F3F4, #000000
rofi.color-urgent: #000000, #F2F3F4, #000000, #F2F3F4, #000000


# URXVT settings

URxvt.depth:                32
URxvt.geometry:             90x20
URxvt.loginShell:           true
URxvt.internalBorder:       40
URxvt.lineSpace:            0

# transparency - true or false (default)
URxvt*transparent: false

# tint with any color; i.e., blue, red, tomato4, olivedrab2, etc.
#   some nice listings are at:
#     http://www.nisrv.com/drupal/?q=node/11
#     http://www.htmlgoodies.com/tutorials/colors/article.php/3478921
#URxvt*tintColor: S_base03

# shading - 0 to 99 darkens, 101 to 200 lightens.
#   Don't use with tintColor; just use a darker or lighter color instead.
URxvt*shading: 15

URxvt*saveLines: 12000

#URxvt*foreground: #657b83
#URxvt*background: #002b36

# Monaco Linux font
URxvt*font: xft:Ubuntu Mono:pixelsize=30
URxvt*boldFont: xft:Ubuntu Mono:bold:pixelsize=30
URxvt*letterSpace: -1

# scrollbar - true (default) or false
URxvt*scrollBar: false

# scrollbar position - left=false (default) or right=true
URxvt*scrollBar_right: true

# scrollbar style - rxvt (default), plain, next, or xterm
URxvt*scrollstyle: plain
